<div class="col-md-5 col-md-offset-3">
	<form class="form-horizontal">
		<div class="form-group">
		    <label for="exampleInputEmail1">Driver</label>
				{{#x-select value=driver action="driverSelected" class="form-control"}}
					{{#x-option value=""}}Select a driver{{/x-option}}
					{{#each drivers as |driver|}}
	    				{{#x-option value=driver}}{{driver.fullName}}{{/x-option}}
	  				{{/each}}
				{{/x-select}}
		</div>
		{{#if driver}}
			<div class="form-group">
			    <label for="exampleInputEmail1">Day</label>
			    {{#x-select value=day action="daySelected" class="form-control"}}
					{{#x-option value=""}}Select a Day{{/x-option}}
					{{#each days as |day|}}
	    				{{#x-option value=day}}{{day}}{{/x-option}}
	  				{{/each}}
				{{/x-select}}
			</div>
		{{/if}}
		{{#if day}}
			<div class="form-group">
			    <label for="exampleInputPassword1">Vehicle</label>
			    {{#x-select value=vehicle action="vehicleSelected" class="form-control"}}
					{{#x-option value=""}}Select a vehicle{{/x-option}}
					{{#each availableVehicles as |car|}}
	    				{{#x-option value=car.id}}{{car.model}}{{/x-option}}
	  				{{/each}}
				{{/x-select}}
			</div>
		{{/if}}
		<div class="form-group">
			<button {{action 'goBack'}} class="btn btn-default">Cancel</button>
			<button {{action 'add'}} type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>